body{

    background-color: rgba(255, 0, 0, 0.678);
}

#output{

    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}